<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/thelogo"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@drawable/thelogo"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar"
        tools:targetApi="31"
        >
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/logo" />
        <activity
            android:name=".Onclick_my_requests"
            android:exported="false" />
        <activity
            android:name=".Onclick_uploaded_requested_books"
            android:exported="false" />
        <activity
            android:name=".Onclick_pending_uploaded_books"
            android:exported="false" />
        <activity
            android:name=".AllBooksActivity"
            android:exported="false" />
        <activity
            android:name=".Home"
            android:exported="false" />
        <activity
            android:name=".Search"
            android:exported="false" />
        <activity
            android:name=".MyRequestActivity"
            android:exported="false" />
        <activity
            android:name=".RequestBook"
            android:exported="false" />
        <activity
            android:name=".uploaded_requested_books"
            android:exported="false" />
        <activity
            android:name=".pending_uploaded_books"
            android:exported="false" />
        <activity
            android:name=".LibraryActivity"
            android:exported="false" />
        <activity
            android:name=".MyProfile"
            android:exported="false" />
        <activity
            android:name=".UploadBookActivity"
            android:exported="false" />
        <activity
            android:name=".preferences"
            android:exported="false" />
        <activity
            android:name=".splash_screen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity
            android:name=".SignUp"
            android:exported="true"
            android:label="Signup" />

        <activity
            android:name=".WelcomePage"
            android:exported="true"/>
        <service
            android:name=".MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>